* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header nav {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav img {
    width: 70px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 12px;
    padding: 0 7px;
}

header section {
    background-color: hsl(217, 28%, 15%);
    position: relative;
}

header section .illustration {
    width: 100%;
    padding: 3rem 2rem 5rem;
    position: relative;
    z-index: 1;
}

header section .curvy-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    line-height: 0;
}

header section .curvy-mobile img {
    width: 100%;
}

main {
    background-color: hsl(218, 28%, 13%);
}

main .text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.text-1 {
    position: absolute;
    top: -90px;
}

main .text-1 span {
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

main .text-1 p {
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
}

main .text-1 button {
    padding: 1rem 4rem;
    margin-top: 1.5rem;
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    border-radius: 30px;
    font-family: 'Raleway';
    font-weight: 600;
}

main .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

main .info img {
    margin-bottom: 30px;
}

main .info span {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

main .info p {
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 80px;
}

main .text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

main .text-2 img {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 40px;
}

main .text-2 span {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

main .text-2 p {
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 14px;
    padding: 0 1rem;
}

main .text-2 a {
    display: flex;
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: 5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

main .text-2 a .arrow {
    height: 1.2rem;
    width: auto;
    padding: 0 0 0 0.5rem;
    margin: 0;
}

main .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem 12rem;
}

main .testimonials .quotes {
    display: flex;
    align-self: flex-start;
    width: 20px;
}

.satish,
.bruce,
.iva {
    background-color: hsl(219, 30%, 18%);
    margin-bottom: 2rem;
    box-shadow: 10px 11px 8px -2px rgba(70, 70, 70, 0.1);
    padding: 1.5rem;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 100;
    color: white;
}

.client {
    display: flex;
    margin-top: 20px;
    align-items: end;
}

.profile-pic {
    display: flex;
    align-self: flex-start;
    width: 40px;
    border-radius: 50%;
}

.names {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.names span {
    font-family: 'Raleway';
    font-weight: 700;
    color: white;
}

.names p {
    font-size: 10px;
}

footer {
    background-color: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 28%, 15%);
    padding: 2rem 1rem;
    margin: 0 1rem;
    border-radius: 10px;
    box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.3);
    position: relative;
    color: white;
}

.sign-up {
    position: absolute;
    top: -155px;
}

.sign-up span {
    font-family: 'Raleway';
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.sign-up p {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 14px;
}

.sign-up .email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up input {
    text-align: left;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.sign-up button {
    text-align: center;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    width: 100%;
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: 'Raleway';
    font-weight: 600;
}

footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin-top: -100px;
    margin-left: 2rem;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 1rem;
}

.location,
.phone,
.email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-columns .icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15px;
}

.footer-columns .icon img {
    margin-top: 3px;
}

.footer-columns .location-text,
.phone-text,
.email-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 14px;
}

footer .links {
    margin-top: 2rem;
    margin-left: 1rem;
    line-height: 2rem;
}

footer .links p {
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem auto;
    color: white;
    font-size: 25px;
    width: 100%;
}

footer .social-media i {
    display: flex;
    align-self: center;
}
